@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant light (&:where(.light, .light *));

@font-face {
  font-family: "poppins";
  src: url("../asset/font/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "plusjakartaregular";
  src: url("../asset/font/PlusJakartaSans-Regular.ttf") format("truetype");
}

@theme {
  --breakpoint-mobile: 20rem;
  --color-background2: #1c1e1e;
  --color-background3: #252525;
  --color-background1: #f0f0f0;
  --color-font-white: #f9f8f8;
  --color-color-main: #9275f7;
  --font-poppins: "poppins", sans-serif;
  --font-plusjakartaregular: "plusjakartaregular", sans-serif;
}

@layer utilities {
  @keyframes scrollX {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  .scrollbar-hide {
    -ms-overflow-style: none; /* IE dan Edge */
    scrollbar-width: none; /* Firefox */
  }

  .active-link {
    @apply text-color-main relative before:content-[''] before:absolute before:left-0 before:bottom-0 before:w-full before:h-[2px] before:bg-color-main;
  }

  .active-link2 {
    @apply text-color-main relative before:content-[''] before:absolute before:left-0 before:bottom-0 before:w-full before:h-[2px] before:bg-color-main;
  }
}
