---

---

<section class="relative w-full h-screen flex flex-col justify-center items-center gap-[42px] px-[3%]">

    <svg class="absolute right-0 top-0" xmlns="http://www.w3.org/2000/svg" width="188" height="546" viewBox="0 0 188 546" fill="none">
        <g filter="url(#filter0_f_69_432)">
          <path d="M443 265C443 345.634 374.052 411 289 411C203.948 411 135 345.634 135 265C135 184.366 203.948 119 289 119C374.052 119 443 184.366 443 265Z" fill="#643DE5" fill-opacity="0.4"/>
        </g>
        <defs>
          <filter id="filter0_f_69_432" x="0.399994" y="-15.6" width="577.2" height="561.2" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
            <feGaussianBlur stdDeviation="67.3" result="effect1_foregroundBlur_69_432"/>
          </filter>
        </defs>
      </svg>

    <svg class="absolute left-0 bottom-[-150px]" xmlns="http://www.w3.org/2000/svg" width="210" height="562" viewBox="0 0 210 562" fill="none">
        <g filter="url(#filter0_f_69_434)">
          <path d="M75 281C75 361.634 6.05186 427 -79 427C-164.052 427 -233 361.634 -233 281C-233 200.366 -164.052 135 -79 135C6.05186 135 75 200.366 75 281Z" fill="#643DE5" fill-opacity="0.4"/>
        </g>
        <defs>
          <filter id="filter0_f_69_434" x="-367.6" y="0.399994" width="577.2" height="561.2" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
            <feGaussianBlur stdDeviation="67.3" result="effect1_foregroundBlur_69_434"/>
          </filter>
        </defs>
      </svg>
    
    <h1 class="font-poppins text-center text-font-white sm:text-[32px] mobile:text-2xl font-medium">Testimoni <span class="text-color-main">Pelanggan</span></h1>
    <p class="font-poppins text-font-white text-center md:text-[20px] mobile:text-[12px] sm:w-[80%] mobile:w-full">Manifest adalah tim <span class="text-color-main">developer</span> berpengalaman yang selama <span class="text-color-main">lima tahun</span> terakhir telah mendedikasikan diri untuk mewujudkan visi bisnis Anda dalam bentuk solusi digital yang tangguh dan terjangkau. Kami memahami betul bahwa di era yang serba digital ini, memiliki kehadiran online yang kuat melalui website, aplikasi, serta desain yang profesional bukan lagi pilihan, melainkan keharusan untuk survive dan berkembang. Itulah mengapa kami berkomitmen untuk menjadi mitra terpercaya Anda, bekerja sama membangun setiap detail proyek digital, memastikan Anda mendapatkan layanan terbaik yang bukan hanya inovatif dan berkelas, tetapi juga selaras dengan anggaran Anda.</p>
</section>