---
import FaqContent from "../common/FaqContent";

---

<section class="relative flex flex-col items-center justify-center w-full h-screen bg-background3 px-[3%] gap-11" id="faq">
    <div class="w-full flex justify-center">
        <h1 class="font-poppins text-center text-font-white sm:text-[32px] mobile:text-2xl font-medium">Fa<span class="text-color-main">Q</span></h1>
    </div>
    <FaqContent client:load />
</section>