---

---

<section class="relative w-full h-fit px-[3%] pt-[10%] pb-[400px] bg-background3 flex flex-col items-center md:gap-[109px] mobile:gap-[48px]">
    <div class="flex flex-col items-center gap-9">
        <h1 class="font-poppins text-center text-font-white sm:text-[32px] mobile:text-2xl font-medium">Testimoni <span class="text-color-main">Pelanggan</span></h1>
        <p class="font-poppins text-font-white text-center md:text-[20px] mobile:text-[12px] sm:w-[80%] mobile:w-full">Perkenalkan tim Manifest kumpulan ahli yang profesional dan berpengalaman, berdedikasi untuk menciptakan website, aplikasi, dan desain berkualitas tinggi untuk bisnis Anda</p>
    </div>
    <div class="flex flex-wrap justify-center gap-9">
        <div class="relative w-[370px] h-[426px] bg-[#2C2B2B] rounded-[10px] overflow-hidden hover:shadow-[0_4px_4px_0_#452E95]">
            <div class="absolute top-0 left-0 w-full h-[60%]">
              <img class="absolute bottom-[-50px] left-1/2 -translate-x-1/2 w-[298px]" src="/asset/image/ilham.png" alt="">
            </div>
            <div class="absolute bottom-0 left-0 w-full h-[40%] bg-[#2C2B2B] after:content-[''] after:absolute after:inset-x-0 after:top-0 after:h-[12px] after:shadow-[0_-4px_4px_0_rgba(0,0,0,0.25)] after:z-20 flex flex-col justify-center items-center gap-3 px-[19px]">
                <p class="font-poppins text-[20px] text-font-white font-bold">Ilham</p>
                <p class="font-poppins text-[12px] text-font-white text-center"><span class="text-color-main">Front End Developer</span>, dan <span class="text-color-main"></span>. Membantumu untuk membuat tampilan Website yang friendly, dan <span class="text-color-main">Install Website anda sampai online</span></p>
            </div>
        </div>
        <div class="relative w-[370px] h-[426px] bg-[#2C2B2B] rounded-[10px] overflow-hidden hover:shadow-[0_4px_4px_0_#452E95]">
            <div class="absolute top-0 left-0 w-full h-[60%]">
              <img class="absolute bottom-[-90px] left-1/2 -translate-x-1/2 w-[330px]" src="/asset/image/mizzy.png" alt="">
            </div>
            <div class="absolute bottom-0 left-0 w-full h-[40%] bg-[#2C2B2B] after:content-[''] after:absolute after:inset-x-0 after:top-0 after:h-[12px] after:shadow-[0_-4px_4px_0_rgba(0,0,0,0.25)] after:z-20 flex flex-col justify-center items-center gap-3 px-[19px]">
                <p class="font-poppins text-[20px] text-font-white font-bold">Mizzy</p>
                <p class="font-poppins text-[12px] text-font-white text-center"><span class="text-color-main">FullStack Developer</span>, membantumu untuk membuatkan kamu baik itu <span class="text-color-main">Aplikasi Mobile</span> maupun <span class="text-color-main">Website</span></p>
            </div>
        </div>
        <div class="relative w-[370px] h-[426px] bg-[#2C2B2B] rounded-[10px] overflow-hidden hover:shadow-[0_4px_4px_0_#452E95]">
            <div class="absolute top-0 left-0 w-full h-[60%]">
              <img class="absolute bottom-[-50px] left-1/2 -translate-x-1/2 w-[250px]" src="/asset/image/eka.png" alt="">
            </div>
            <div class="absolute bottom-0 left-0 w-full h-[40%] bg-[#2C2B2B] after:content-[''] after:absolute after:inset-x-0 after:top-0 after:h-[12px] after:shadow-[0_-4px_4px_0_rgba(0,0,0,0.25)] after:z-20 flex flex-col justify-center items-center gap-3 px-[19px]">
                <p class="font-poppins text-[20px] text-font-white font-bold">Eka</p>
                <p class="font-poppins text-[12px] text-font-white text-center"><span class="text-color-main">Mobile Developer</span>, dan <span class="text-color-main">Machine learning.</span> Membantumu untuk membuat <span class="text-color-main">Aplikasi Mobile dengan tampilan yang menarik,</span> dan juga dapat membantumu untuk membuatkan <span class="text-color-main">AI/Sistem cerdas, di Aplikasimu</span></p>
            </div>
        </div>
        <div class="relative w-[370px] h-[426px] bg-[#2C2B2B] rounded-[10px] overflow-hidden hover:shadow-[0_4px_4px_0_#452E95]">
            <div class="absolute top-0 left-0 w-full h-[60%]">
              <img class="absolute bottom-[-20px] left-1/2 -translate-x-1/2 w-[250px]" src="/asset/image/kahfi.png" alt="">
            </div>
            <div class="absolute bottom-0 left-0 w-full h-[40%] bg-[#2C2B2B] after:content-[''] after:absolute after:inset-x-0 after:top-0 after:h-[12px] after:shadow-[0_-4px_4px_0_rgba(0,0,0,0.25)] after:z-20 flex flex-col justify-center items-center gap-3 px-[19px]">
                <p class="font-poppins text-[20px] text-font-white font-bold">Kahfi</p>
                <p class="font-poppins text-[12px] text-font-white text-center"><span class="text-color-main">Mobile Developer</span> yang akan membantumu untuk membuat <span class="text-color-main">Aplikasi Mobile</span> yang berkualitas</p>
            </div>
        </div>
        <div class="relative w-[370px] h-[426px] bg-[#2C2B2B] rounded-[10px] overflow-hidden hover:shadow-[0_4px_4px_0_#452E95]">
            <div class="absolute top-0 left-0 w-full h-[60%]">
              <img class="absolute bottom-[-80px] left-1/2 -translate-x-1/2 w-[200px]" src="/asset/image/naufal.png" alt="">
            </div>
            <div class="absolute bottom-0 left-0 w-full h-[40%] bg-[#2C2B2B] after:content-[''] after:absolute after:inset-x-0 after:top-0 after:h-[12px] after:shadow-[0_-4px_4px_0_rgba(0,0,0,0.25)] after:z-20 flex flex-col justify-center items-center gap-3 px-[19px]">
                <p class="font-poppins text-[20px] text-font-white font-bold">Naufal</p>
                <p class="font-poppins text-[12px] text-font-white text-center"><span class="text-color-main">UI/UX Designer</span>, dan <span class="text-color-main">Front End Developer</span>. Membantumu untuk <span class="text-color-main">mendesign Website dan Aplikasi</span>, serta membuat tampilan website yang friendly</p>
            </div>
        </div>
        <div class="relative w-[370px] h-[426px] bg-[#2C2B2B] rounded-[10px] overflow-hidden hover:shadow-[0_4px_4px_0_#452E95]">
            <div class="absolute top-0 left-0 w-full h-[60%]">
              <img class="absolute bottom-[-80px] left-1/2 -translate-x-1/2 w-[340px]" src="/asset/image/hanif.png" alt="">
            </div>
            <div class="absolute bottom-0 left-0 w-full h-[40%] bg-[#2C2B2B] after:content-[''] after:absolute after:inset-x-0 after:top-0 after:h-[12px] after:shadow-[0_-4px_4px_0_rgba(0,0,0,0.25)] after:z-20 flex flex-col justify-center items-center gap-3 px-[19px]">
                <p class="font-poppins text-[20px] text-font-white font-bold">Hanif</p>
                <p class="font-poppins text-[12px] text-font-white text-center"><span class="text-color-main">UI/UX Designer</span> yang akan membantumu untuk <span class="text-color-main">mendesign Website dan Aplikasi</span>, serta membuat tampilan website yang friendly</p>
            </div>
        </div>
    </div>
</section>