---

---

<section class="relative w-full h-fit px-[3%] py-[10%] flex flex-col justify-center items-center gap-[54px]" id="portfolio">
    <svg class="absolute top-[-100px] right-0" xmlns="http://www.w3.org/2000/svg" width="232" height="562" viewBox="0 0 232 562" fill="none">
        <g filter="url(#filter0_f_62_961)">
          <path d="M443 281C443 361.634 374.052 427 289 427C203.948 427 135 361.634 135 281C135 200.366 203.948 135 289 135C374.052 135 443 200.366 443 281Z" fill="#643DE5" fill-opacity="0.4"/>
        </g>
        <defs>
          <filter id="filter0_f_62_961" x="0.399994" y="0.399994" width="577.2" height="561.2" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
            <feGaussianBlur stdDeviation="67.3" result="effect1_foregroundBlur_62_961"/>
          </filter>
        </defs>
      </svg>
    <svg class="absolute bottom-[-300px] left-[-50px]" xmlns="http://www.w3.org/2000/svg" width="198" height="562" viewBox="0 0 198 562" fill="none">
        <g filter="url(#filter0_f_62_963)">
          <path d="M63 281C63 361.634 -5.94814 427 -91 427C-176.052 427 -245 361.634 -245 281C-245 200.366 -176.052 135 -91 135C-5.94814 135 63 200.366 63 281Z" fill="#643DE5" fill-opacity="0.4"/>
        </g>
        <defs>
          <filter id="filter0_f_62_963" x="-379.6" y="0.399994" width="577.2" height="561.2" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
            <feGaussianBlur stdDeviation="67.3" result="effect1_foregroundBlur_62_963"/>
          </filter>
        </defs>
    </svg>
    <div class="relative w-full items-center flex flex-col gap-4">
        <h1 class="font-poppins text-center text-font-white sm:text-[32px] mobile:text-2xl font-medium">Project yang telah <span class="text-color-main">diselesaikan</span></h1>
        <p class="sm:w-[90%] mobile:w-[90%] text-center text-font-white font-poppins sm:text-[20px] mobile:text-[12px]">Wujud Nyata Keberhasilan Dari Konsep Awal Hingga Solusi Digital Produktif untuk Klien</p>
    </div>
    <div class="relative flex flex-wrap lg:flex-row mobile:flex-col justify-center gap-[61px]">
        <div class="w-[335px] h-[326px] rounded-[10px] bg-[#2C2B2B] hover:bg-[#714AF3] overflow-hidden relative group hover:border hover:border-[#714AF3]">
            <div class="absolute top-0 left-0 w-full h-[70%] bg-[#3a3a3a] rounded-b-[10px] z-20">
                <img class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2" src="/asset/image/portfolio1.png" width="140" alt="">
            </div>
            <div class="absolute bottom-0 left-0 w-full h-[30%] bg-[#2C2B2B] group-hover:[background:linear-gradient(180deg,#714AF3_0%,#482F9C_100%)] z-10 flex flex-col justify-center px-3 gap-3">
                <p class="w-fit text-color-main group-hover:text-font-white text-[16px] font-poppins font-semibold">
                    Albitec
                </p>
                <p class="w-fit p-2.5 text-xs text-justify font-poppins text-color-main group-hover:text-font-white rounded-[10px] border border-solid border-color-main">Aplikasi Mobile</p>
            </div>
        </div>
        <div class="w-[335px] h-[326px] rounded-[10px] bg-[#2C2B2B] hover:bg-[#714AF3] overflow-hidden relative group hover:border hover:border-[#714AF3]">
            <div class="absolute top-0 left-0 w-full h-[70%] bg-[#3a3a3a] rounded-b-[10px] z-20">
                <img class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2" src="/asset/image/portfolio2.png" width="324" alt="">
            </div>
            <div class="absolute bottom-0 left-0 w-full h-[30%] bg-[#2C2B2B] group-hover:[background:linear-gradient(180deg,#714AF3_0%,#482F9C_100%)] z-10 flex flex-col justify-center px-3 gap-3">
                <p class="w-fit text-color-main group-hover:text-font-white text-[16px] font-poppins font-semibold">
                    Foodyar
                </p>
                <p class="w-fit p-2.5 text-xs text-justify font-poppins text-color-main group-hover:text-font-white rounded-[10px] border border-solid border-color-main">Landing Page</p>
            </div>
        </div>
        <div class="w-[335px] h-[326px] rounded-[10px] bg-[#2C2B2B] hover:bg-[#714AF3] overflow-hidden relative group hover:border hover:border-[#714AF3]">
            <div class="absolute top-0 left-0 w-full h-[70%] bg-[#3a3a3a] rounded-b-[10px] z-20">
                <img class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2" src="/asset/image/portfolio3.png" width="140" alt="">
            </div>
            <div class="absolute bottom-0 left-0 w-full h-[30%] bg-[#2C2B2B] group-hover:[background:linear-gradient(180deg,#714AF3_0%,#482F9C_100%)] z-10 flex flex-col justify-center px-3 gap-3">
                <p class="w-fit text-color-main group-hover:text-font-white text-[16px] font-poppins font-semibold">
                    Griya Bugar
                </p>
                <p class="w-fit p-2.5 text-xs text-justify font-poppins text-color-main group-hover:text-font-white rounded-[10px] border border-solid border-color-main">Aplikasi Mobile</p>
            </div>
        </div>
    </div>
</section>