---

---


<section class="w-full h-fit px-[3%] pt-[10%] pb-[5%] bg-background3 flex flex-col gap-[83px] items-center justify-center">
    <div class="flex flex-col gap-12 items-center justify-center">
        <div class="w-full items-center flex flex-col gap-4">
            <h1 class="font-poppins text-center text-font-white sm:text-[32px] mobile:text-2xl font-medium">Solusi yang kami <span class="text-color-main">tawarkan</span></h1>
            <p class="sm:w-[70%] mobile:w-[90%] text-center text-font-white font-poppins sm:text-[20px] mobile:text-[12px]">Kami membantu bisnis Anda tampil profesional dan mudah dijangkau pelanggan lewat layanan:</p>
        </div>
        <div class="flex flex-wrap justify-center gap-x-[72px] gap-y-[38px]">
            <div class="flex flex-col pt-[30px] pb-[12px] pl-[15px] pr-[37px] justify-between w-[343px] h-[256px] rounded-xl bg-[rgba(69,66,66,0.20)] hover:[background:linear-gradient(119deg,#714AF4_3.46%,#422B8E_100.12%)] backdrop-blur-md inset-shadow-sm border-[0.1px] border-white/10 overflow-hidden group">
                <div class="flex flex-col gap-6">
                    <p class="text-color-main group-hover:text-font-white text-xl font-medium font-poppins">Website Company Profile</p>
                    <p class="text-font-white text-xs text-justify font-poppins">Tunjukkan citra profesional bisnis anda dengan website modern, responsif, dan cepat diakses.  </p>
                </div>
                <div class="flex flex-wrap gap-[7px]">
                    <p class="p-2.5 text-xs text-justify font-poppins text-[#EFEFEF] rounded-[10px] border border-solid border-font-white">Personal Branding</p>
                    <p class="p-2.5 text-xs text-justify font-poppins text-[#EFEFEF] rounded-[10px] border border-solid border-font-white">Perusahaan</p>
                    <p class="p-2.5 text-xs text-justify font-poppins text-[#EFEFEF] rounded-[10px] border border-solid border-font-white">Organisasi</p>
                    <p class="p-2.5 text-xs text-justify font-poppins text-[#EFEFEF] rounded-[10px] border border-solid border-font-white">Company</p>
                </div>
            </div>
            <div class="flex flex-col pt-[30px] pb-[12px] pl-[15px] pr-[37px] justify-between w-[343px] h-[256px] rounded-xl bg-[rgba(69,66,66,0.20)] hover:[background:linear-gradient(119deg,#714AF4_3.46%,#422B8E_100.12%)] backdrop-blur-md inset-shadow-sm border-[0.1px] border-white/10 overflow-hidden group">
                <div class="flex flex-col gap-6">
                    <p class="text-color-main group-hover:text-font-white text-xl font-medium font-poppins">Website Landing Page</p>
                    <p class="text-font-white text-xs text-justify font-poppins">Halaman promosi tunggal, desain menarik, cepat, CTA jelas, maksimalkan konversi produk/penawaran/event Anda.</p>
                </div>
                <div class="flex flex-wrap gap-[7px]">
                    <p class="p-2.5 text-xs text-justify font-poppins text-[#EFEFEF] rounded-[10px] border border-solid border-font-white">Personal Branding</p>
                    <p class="p-2.5 text-xs text-justify font-poppins text-[#EFEFEF] rounded-[10px] border border-solid border-font-white">Produk</p>
                    <p class="p-2.5 text-xs text-justify font-poppins text-[#EFEFEF] rounded-[10px] border border-solid border-font-white">Promosi</p>
                    <p class="p-2.5 text-xs text-justify font-poppins text-[#EFEFEF] rounded-[10px] border border-solid border-font-white">Penawaran</p>
                    <p class="p-2.5 text-xs text-justify font-poppins text-[#EFEFEF] rounded-[10px] border border-solid border-font-white">Event</p>
                </div>
            </div>
            <div class="flex flex-col gap-10 pt-[30px] pb-[12px] pl-[15px] pr-[37px] w-[343px] h-[256px] rounded-xl bg-[rgba(69,66,66,0.20)] hover:[background:linear-gradient(119deg,#714AF4_3.46%,#422B8E_100.12%)] backdrop-blur-md inset-shadow-sm border-[0.1px] border-white/10 overflow-hidden group">
                <div class="flex flex-col gap-6">
                    <p class="text-color-main group-hover:text-font-white text-xl font-medium font-poppins">Toko Online/E-Commerce</p>
                    <p class="text-font-white text-xs text-justify font-poppins">Tingkatkan penjualan dengan toko online yang aman, mudah digunakan, dan terintegrasi dengan metode pembayaran digital.</p>
                </div>
                <div class="flex flex-wrap gap-[7px]">
                    <p class="p-2.5 text-xs text-justify font-poppins text-[#EFEFEF] rounded-[10px] border border-solid border-font-white">Usaha retail</p>
                    <p class="p-2.5 text-xs text-justify font-poppins text-[#EFEFEF] rounded-[10px] border border-solid border-font-white">UMKM</p>
                    <p class="p-2.5 text-xs text-justify font-poppins text-[#EFEFEF] rounded-[10px] border border-solid border-font-white">Brand Fashion</p>
                </div>
            </div>
            <div class="flex flex-col gap-10 pt-[30px] pb-[12px] pl-[15px] pr-[37px] w-[343px] h-[256px] rounded-xl bg-[rgba(69,66,66,0.20)] hover:[background:linear-gradient(119deg,#714AF4_3.46%,#422B8E_100.12%)] backdrop-blur-md inset-shadow-sm border-[0.1px] border-white/10 overflow-hidden group">
                <div class="flex flex-col gap-6">
                    <p class="text-color-main group-hover:text-font-white text-xl font-medium font-poppins">Aplikasi Mobile</p>
                    <p class="text-font-white text-xs text-justify font-poppins">Hadir lebih dekat dengan pelanggan lewat aplikasi mobile yang praktis, cepat, dan user-friendly.</p>
                </div>
                <div class="flex flex-wrap gap-[7px]">
                    <p class="p-2.5 text-xs text-justify font-poppins text-[#EFEFEF] rounded-[10px] border border-solid border-font-white">Android</p>
                    <p class="p-2.5 text-xs text-justify font-poppins text-[#EFEFEF] rounded-[10px] border border-solid border-font-white">IOS</p>
                </div>
            </div>
            <div class="flex flex-col gap-10 pt-[30px] pb-[12px] pl-[15px] pr-[37px] w-[343px] h-[256px] rounded-xl bg-[rgba(69,66,66,0.20)] hover:[background:linear-gradient(119deg,#714AF4_3.46%,#422B8E_100.12%)] backdrop-blur-md inset-shadow-sm border-[0.1px] border-white/10 overflow-hidden group">
                <div class="flex flex-col gap-6">
                    <p class="text-color-main group-hover:text-font-white text-xl font-medium font-poppins">Website & Aplikasi Custom</p>
                    <p class="text-font-white text-xs text-justify font-poppins">Solusi digital yang dirancang khusus sesuai kebutuhan bisnis Anda, mulai dari sistem kasir, manajemen stok, hingga dashboard analitik.</p>
                </div>
                <div class="flex flex-wrap gap-[7px]">
                    <p class="p-2.5 text-xs text-justify font-poppins text-[#EFEFEF] rounded-[10px] border border-solid border-font-white">Android</p>
                    <p class="p-2.5 text-xs text-justify font-poppins text-[#EFEFEF] rounded-[10px] border border-solid border-font-white">IOS</p>
                    <p class="p-2.5 text-xs text-justify font-poppins text-[#EFEFEF] rounded-[10px] border border-solid border-font-white">Website</p>
                    <p class="p-2.5 text-xs text-justify font-poppins text-[#EFEFEF] rounded-[10px] border border-solid border-font-white">Custom</p>
                </div>
            </div>
        </div>
    </div>
    <a class="sm:w-[25%] mobile:w-[80%] h-[70px] bg-gradient-to-r from-[#754DFB] to-[#452E95] p-2.5 rounded-[10px] flex justify-center items-center" href="#">
        <p class="w-full text-center font-poppins sm:text-[16px] mobile:text-[12px] font-bold text-font-white">Konsultasikan Sekarang</p>
    </a>
</section>