---
import TestimoniCard from "../common/TestimoniCard";




---

<section class="w-full h-screen flex flex-col justify-center items-center gap-[42px]" id="testimoni">
    <h1 class="font-poppins text-center text-font-white sm:text-[32px] mobile:text-2xl font-medium">Testimoni <span class="text-color-main">Pelanggan</span></h1>
    <TestimoniCard client:load />
</section>