---


---

<section class="w-full h-screen flex flex-col lg:gap-[84px] mobile:gap-[58px] items-center justify-center">
    <h1 class="font-poppins text-font-white sm:text-[32px] mobile:text-2xl font-bold">Kenapa Harus <span class="text-color-main">Manifest</span></h1>
    <div class="w-full flex lg:flex-row mobile:flex-col justify-center lg:gap-[88px] mobile:gap-[60px]">
        <div class="flex flex-col items-center lg:gap-[18px] mobile:gap-[16px]">
            <svg class="sm:w-[61px] mobile:w-[38px]" xmlns="http://www.w3.org/2000/svg" width="62" height="59" viewBox="0 0 62 59" fill="none">
                <path d="M30.9982 49.0917L16.1274 58.05C15.4705 58.4681 14.7837 58.6472 14.067 58.5875C13.3503 58.5278 12.7232 58.2889 12.1857 57.8708C11.6482 57.4528 11.2302 56.9308 10.9316 56.3049C10.633 55.679 10.5732 54.9767 10.7524 54.1979L14.6941 37.2667L1.52533 25.8896C0.92811 25.3521 0.555443 24.7393 0.407332 24.0513C0.259221 23.3633 0.303415 22.6921 0.539915 22.0375C0.776415 21.3829 1.13475 20.8454 1.61492 20.425C2.09508 20.0046 2.75203 19.7358 3.58575 19.6188L20.9649 18.0958L27.6837 2.15C27.9823 1.43333 28.4457 0.895833 29.074 0.537499C29.7023 0.179166 30.3437 0 30.9982 0C31.6528 0 32.2942 0.179166 32.9225 0.537499C33.5508 0.895833 34.0142 1.43333 34.3128 2.15L41.0316 18.0958L58.4107 19.6188C59.2469 19.7382 59.9038 20.0069 60.3816 20.425C60.8594 20.8431 61.2177 21.3806 61.4566 22.0375C61.6955 22.6944 61.7409 23.3669 61.5927 24.0549C61.4446 24.7429 61.0708 25.3545 60.4712 25.8896L47.3024 37.2667L51.2441 54.1979C51.4232 54.9743 51.3635 55.6766 51.0649 56.3049C50.7663 56.9332 50.3482 57.4552 49.8107 57.8708C49.2732 58.2865 48.6462 58.5254 47.9295 58.5875C47.2128 58.6496 46.526 58.4704 45.8691 58.05L30.9982 49.0917Z" fill="url(#paint0_linear_53_719)"/>
                <defs>
                  <linearGradient id="paint0_linear_53_719" x1="30.9998" y1="0" x2="30.9998" y2="58.5995" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#714BF3"/>
                    <stop offset="1" stop-color="#250983"/>
                  </linearGradient>
                </defs>
              </svg>
            <div class="flex flex-col gap-2 w-[290px]">
                <p class="font-poppins text-center sm:text-[24px] mobile:text-[16px] font-bold text-font-white">Kualitas Terbaik</p>
                <p class="text-center font-poppins sm:text-[16px] mobile:text-[12px] text-font-white">Kami memiliki developer terbaik dalam pembuatan website dan aplikasi anda</p>
            </div>
        </div>
        <div class="flex flex-col items-center lg:gap-[18px] mobile:gap-[16px]">
            <svg class="sm:w-[61px] mobile:w-[38px]" width="70" height="71" viewBox="0 0 70 71" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M35.0002 29.3333C41.4435 29.3333 46.6668 24.11 46.6668 17.6667C46.6668 11.2233 41.4435 6 35.0002 6C28.5568 6 23.3335 11.2233 23.3335 17.6667C23.3335 24.11 28.5568 29.3333 35.0002 29.3333Z" fill="url(#paint0_linear_53_720)"/>
                <path d="M58.3332 51.4584C58.3332 58.7063 58.3332 64.5834 34.9998 64.5834C11.6665 64.5834 11.6665 58.7063 11.6665 51.4584C11.6665 44.2105 22.114 38.3334 34.9998 38.3334C47.8857 38.3334 58.3332 44.2105 58.3332 51.4584Z" fill="url(#paint1_linear_53_720)"/>
                <defs>
                <linearGradient id="paint0_linear_53_720" x1="35.0002" y1="6" x2="35.0002" y2="29.3333" gradientUnits="userSpaceOnUse">
                <stop stop-color="#734CF7"/>
                <stop offset="1" stop-color="#2B0F86"/>
                </linearGradient>
                <linearGradient id="paint1_linear_53_720" x1="34.9998" y1="38.3334" x2="34.9998" y2="64.5834" gradientUnits="userSpaceOnUse">
                <stop stop-color="#734CF7"/>
                <stop offset="1" stop-color="#2B0F86"/>
                </linearGradient>
                </defs>
                </svg>
            <div class="flex flex-col gap-2 w-[290px]">
                <p class="font-poppins text-center sm:text-[24px] mobile:text-[16px] font-bold text-font-white">Anda Prioritas Kami</p>
                <p class="text-center font-poppins sm:text-[16px] mobile:text-[12px] text-font-white">Kami akan memprioritas keiinginan anda dalam pembuatan website dan aplikasi</p>
            </div>
        </div>
        <div class="flex flex-col items-center lg:gap-[18px] mobile:gap-[16px]">
            <svg class="sm:w-[61px] mobile:w-[38px]" xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64" fill="none">
                <path d="M24.8935 30.672H30.6802C32.256 30.672 33.8165 30.9823 35.2724 31.5854C36.7283 32.1885 38.0512 33.0724 39.1655 34.1867C40.2798 35.301 41.1637 36.6238 41.7667 38.0798C42.3698 39.5357 42.6802 41.0961 42.6802 42.672H24.0108V45.3386H45.3442V42.672C45.3333 39.8353 44.5147 37.0603 42.9842 34.672H50.6802C53.2012 34.6715 55.6706 35.3858 57.8021 36.7319C59.9336 38.078 61.6398 40.0008 62.7228 42.2773C56.4162 50.5973 46.2055 56.008 34.6802 56.008C27.3175 56.008 21.0802 54.4346 16.0135 51.6746V26.864C19.2574 27.3283 22.321 28.642 24.8935 30.672ZM13.3468 50.672C13.3468 51.3792 13.0659 52.0575 12.5658 52.5576C12.0657 53.0577 11.3874 53.3386 10.6802 53.3386H5.34684C4.6396 53.3386 3.96132 53.0577 3.46122 52.5576C2.96113 52.0575 2.68018 51.3792 2.68018 50.672V26.672C2.68018 25.9647 2.96113 25.2864 3.46122 24.7863C3.96132 24.2862 4.6396 24.0053 5.34684 24.0053H10.6802C11.3874 24.0053 12.0657 24.2862 12.5658 24.7863C13.0659 25.2864 13.3468 25.9647 13.3468 26.672V50.672ZM48.0135 13.3386C50.1352 13.3386 52.1701 14.1815 53.6704 15.6818C55.1707 17.1821 56.0135 19.2169 56.0135 21.3386C56.0135 23.4604 55.1707 25.4952 53.6704 26.9955C52.1701 28.4958 50.1352 29.3386 48.0135 29.3386C45.8918 29.3386 43.8569 28.4958 42.3567 26.9955C40.8564 25.4952 40.0135 23.4604 40.0135 21.3386C40.0135 19.2169 40.8564 17.1821 42.3567 15.6818C43.8569 14.1815 45.8918 13.3386 48.0135 13.3386ZM29.3468 5.33862C31.4686 5.33862 33.5034 6.18148 35.0037 7.68177C36.504 9.18206 37.3468 11.2169 37.3468 13.3386C37.3468 15.4604 36.504 17.4952 35.0037 18.9955C33.5034 20.4958 31.4686 21.3386 29.3468 21.3386C27.2251 21.3386 25.1903 20.4958 23.69 18.9955C22.1897 17.4952 21.3468 15.4604 21.3468 13.3386C21.3468 11.2169 22.1897 9.18206 23.69 7.68177C25.1903 6.18148 27.2251 5.33862 29.3468 5.33862Z" fill="url(#paint0_linear_53_737)"/>
                <defs>
                  <linearGradient id="paint0_linear_53_737" x1="32.7015" y1="5.33862" x2="32.7015" y2="56.008" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#6540E2"/>
                    <stop offset="1" stop-color="#37237C"/>
                  </linearGradient>
                </defs>
              </svg>
            <div class="flex flex-col gap-2 w-[290px]">
                <p class="font-poppins text-center sm:text-[24px] mobile:text-[16px] font-bold text-font-white">Harga Terjangkau</p>
                <p class="text-center font-poppins sm:text-[16px] mobile:text-[12px] text-font-white">Harga yang kami tawarkan tentunya tejangkau</p>
            </div>
        </div>
    </div>
</section>