---
import "../styles/global.css";
const { pageTitle } = Astro.props;
---

<html class="dark" lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="title" content="Jasa website, aplikasi, dan design dengan harga terjangkau">
		<meta name="description" content="Optimalkan potensi digital bisnis Anda dengan layanan terbaik dalam pengembangan website, aplikasi, dan desain kreatif. Kami adalah mitra terpercaya yang menawarkan solusi kustom yang menghadirkan pengalaman digital yang luar biasa. Dari konsep hingga peluncuran, kami memadukan keahlian teknis dengan kreativitas yang inovatif. Hubungi kami hari ini untuk mewujudkan visi digital Anda!">
		<title>{pageTitle}</title>
	</head>
	<body class="dark:bg-background2">
		<main>
			<slot />
		</main>
	</body>
</html>
